// Resets
a {
    color: black;
    text-decoration: none;
    &:active {
        color: black;
    }
    &:visited {
        color: black;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    min-height: 5vh;
    border-bottom: 2px solid black;
    display: flex;

    &-item {
        padding: 15px;
        font-size: 20px;
    }
}

#report {
    text-decoration: underline;
    text-decoration-color: grey;
}

.container {
    margin: 0 30px 0 30px;
}

// .wrapper {
//     display:flex;
// }

.person {
    padding: 6px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    .username {
        text-decoration:underline;
    }
    & > *{
        display: inline-block;
    }
}

.user-info {
    tr {
        height: 40px;
    }
    
}

button {
    height: 50px;
    width: 100px;
    font-size: 16px;
    border: none !important;
    color: white;
}

#save {
    background: darkgreen;
}

#edit {
    background: teal; 
}

#delete {
    background: maroon;
}