// Resets
a {
    color: black;
    text-decoration: none;
    &:active {
        color: black;
    }
    &:visited {
        color: black;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    min-height: 5vh;
    border-bottom: 2px solid black;
    display: flex;

    &-item {
        padding: 15px;
        font-size: 20px;
    }
}

.container {
    margin: 0 30px 0 30px;
}

.wrapper {
    display:flex;
    justify-content: space-between;
}

.person {
    // border-left: 2px solid darkgoldenrod;
    padding: 6px;
    // margin: 10px;
    flex-basis: 20vw;
}