{% extends 'base.html' %}
{% load accounts_tags %}
{% block title %}User List{% endblock %}

{% block content %}
<h1>User List</h1>
<a id="report" href="{% url 'accounts:report' %}" >Download report</a>
<table class="user-list">
    <thead>
        <td>Username</td>
        <td>First name</td>
        <td>Last name</td>
        <td>Birthday</td>
        <td>Status</td>
        <td>Number</td>
        <td>BizzFuzz</td>
    </thead>
    {% for user in users %}
        <tr>
            <td>
                <h3 class="username" ><a href="{% url 'accounts:detail' user.username %}">{{ user.username }}</a></h3>
            </td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.birthday }}</td>
            <td><strong class="status">{% is_allowed user %}</strong></td>
            <td>{{ user.number }}</td>
            <td>{% bizzfuzz user.number %}</td>  
        </tr>
    {% empty %}
        <tr><td class="empty">No users</td></tr>
    {% endfor %}
<table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
    
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
    
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}